@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom';



//Car le footer est en position absolute, il faut donc que le parent soit en position relative
html{
    position: relative;
    min-height: 100%;
}

//Pour que le contenu de la page ne passe pas sur le footer, ajout d'une marge en bas de main
main{
    margin-bottom: 350px;
}

@media(max-width: 700px){
    main{
        margin-bottom: 640px;
    }
}


//Pré enregistrement des polices et des tailles
h1{
    font-family: $font-family-serif;
    font-size: 100.98px;
}
h2{
    font-family: $font-family-serif;
    font-size: 75.8px;
}

h4{
    font-family: $font-family-serif;
    font-size: 42.6px;
    color: $secondary;
}

h5{
    font-family: $font-family-serif;
    font-size: 31.98px;
    color: $secondary;
}

p{
    font-family: $font-family-sans-serif;
    font-size: 18px;
    color: $dark;
}











//HEADER

//Taille logo du header
$logo-width: 170px;
$logo-height: auto;

.navbar-brand img{
    width: $logo-width;
    height: $logo-height;
}

//Typo des liens du menu
.navbar-nav .nav-link{
    font-weight: bold;
    font-size: 18px;
}

//bouton connexion dans le menu
.btn-connect{
    padding: 8px 18px !important;
    border-radius: 30px;
    background-color: rgba($color: #fff, $alpha: 0.3);
    transition: all 0.3s ease;
}

.navbar-nav .nav-link.custom-link{
    font-weight: 400;
}

.btn-connect:hover{
    background-color: #fff;
    color: black;
}
.navbar-nav .nav-link.custom-link:hover{
    color: black !important;
}


// soulignement quand hover 
.nav-link::after{
    content: "";
    width: 0%;
    height: 2px;
    background: #fff;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-link:hover::after{
    width: 100%;
}

.nav-link.nav-link.custom-link:hover::after{
    width: 0% !important;
}






//FOOTER


//en position absolute pour que le footer reste en bas de la page
footer{
    padding: 15px !important;
    position: absolute;
    bottom: 0;
    width: 100%;
}


//gestion logo footer
$logo-footer-width: 150px;
$logo-footer-height: auto;

footer img{
    width: $logo-width;
    height: $logo-height;
}


//typo footer
footer h3{
    font-size: 13.5px;
    font-weight: bold;
}

footer p{
    font-size: 10.13px;
}

footer a{
    font-size: 10.13px;
}


.footer-copyright-bold{
    font-weight: bold;
}


//gestion icones footer

.footer-icones{
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.footer-icones i{
    margin: 0px 20px;
}



// HERO SCENE

//Mettre l'image en fond du hero-scene
.hero-scene{
    background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)), url(/Media/bg-hero-V2.jpg);
    background-size: cover;
}

.hero-scene-content{
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-right: 4rem;
    padding-top: 18rem;
}


//Responsive hero-scene
@media(max-width: 700px){
    h1{
        font-size: 57px;
    }

    .hero-scene-content{
        padding-right: 4rem;
        padding-top: 39rem;
    }
}


//test image derrière navbar
.navbar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}









// ACCEUIL SECTION 1 - DESCRIPTION 

.description i{
    font-size: 40px;
    color: $secondary;
}

//image girafe
.section-description{
    position: relative;
}

.section-description img{
    position: absolute;
    z-index: 3;
    bottom: 0;
    left: 0;
}



//décaler le texte pour l'image girafe
.white-space{
    padding-left: 130px;
}

//décaler la div infos pour l'image girafe
.infos{
    padding-left: 80px;
    padding-top: 50px;
}




// PREPARER SA VISITE

//mettre les trois couleurs de fond

.article-preparervisite{
    background-color: $primary;
}


.col1{
    background-color: $primary;
}

.col2{
    background-color: $secondary;
}

.col3{
    background-color: $primary;
}



//couleur et taille texte et icone
.section-preparervisite h5,
.section-preparervisite p,
.section-preparervisite i,
.section-preparervisite a{
    color: #fff;
}

.section-preparervisite i{
    font-size: 40px;
    margin-right: 15px;
}



//Mise en place texte et icone

.horaire-title,
.adresse-title,
.restauration-title,
.visiter-title{
    display: flex;
}


.col1,
.col2,
.col3{
    padding-top: 40px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
    
}










// HABITATS


//régler la taille des images

.image-habitat-jungle{
    height: 576px;
    width: 375px;
    border-radius: 30px;
    background-image: linear-gradient(rgba(4, 9, 30, 0.3), rgba(4, 9, 30, 0.3)), url(/Media/lajungle.jpg);
    background-size: cover;
    background-position: center;
}

.image-habitat-savane{
    height: 576px;
    width: 375px;
    border-radius: 30px;
    background-image: linear-gradient(rgba(4, 9, 30, 0.3), rgba(4, 9, 30, 0.3)), url(/Media/lasavane.jpg);
    background-size: cover;
    background-position: center;
}

.image-habitat-marais{
    height: 576px;
    width: 375px;
    border-radius: 30px;
    background-image: linear-gradient(rgba(4, 9, 30, 0.3), rgba(4, 9, 30, 0.3)), url(/Media/lecrocodile.jpg);
    background-size: cover;
    background-position: center;
}

//positionner les colonnes

.habitats col{
    padding-bottom: 50px;
    
}

.row-habitats{
    margin: auto;
}


// LIEN VOIR LES ANIMAUX
.section-lien-animaux{
    padding-top: 50px;
    padding-bottom: 50px;
}

.section-lien-animaux h5{
    color: $dark;
}

.btn-animaux{
    background-color: $secondary;
    border-radius: 30px;
    width: 272px;
    height: 47px;
    border: none;
    margin-top: 40px;
}

.btn-animaux a{
    color: #fff;
    text-decoration: none;
}


//image singe
.section-lien-animaux{
    position: relative;
}

.section-lien-animaux img{
    position: absolute;
    z-index: 3;
    bottom: 0;
    right: 0;
    width: 400px;
}















// AVIS 

.section-avis{
    background-image: linear-gradient(rgba(4, 9, 30, 0), rgba(4, 9, 30, 0)), url(/Media/bg-avis.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

.container-avis{
    background-color: rgba($color: #fff, $alpha: 0.7);
    border-radius: 30px;
    width: 50%;
    margin: auto;
    position: relative;
    backdrop-filter: blur(10px);
}

.avis-box{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
    
}

// Pseudo
.pseudo{
    font-size: 13.5px;
    color: $info;
}

//avis
.avis{
    
}

// Les guillemets

.fa-quote-right, 
.fa-quote-left{
    font-size: 50px;
    color: $info;
}

.fa-quote-right{
    position: absolute;
    bottom: 5%;
    right: 5%;
}

.fa-quote-left{
    position: absolute;
    top: 5%;
    left: 5%;
}


// Bouton avis

.btn-avis{
    border-radius: 30px;
    width: 160px;
    height: 30px;
    border: none;
    position: absolute;
    right: 0;
    bottom: -20%;
}

.btn-avis a{
    color: #fff;
    text-decoration: none;
    font-size: 13.5px;
    font-weight: 300;
}